@import url(https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:wght@400;900&display=swap);
.animDance {
  -webkit-animation: dance 0.3s;
          animation: dance 0.3s;
}

@-webkit-keyframes dance {
  0% {
    left: 0;
  }
  25% {
    left: -30px;
  }
  75% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}

@keyframes dance {
  0% {
    left: 0;
  }
  25% {
    left: -30px;
  }
  75% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
.error {
  border: 1px solid red;
  border-radius: 5px;
  background: rgba(255, 92, 92, 0.1);
  padding: 5px;
  position: relative;
  margin-bottom: 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 5px 0;
}

p.iGroupError {
  margin: 5px 0;
  color: rgb(177, 0, 0);
  border-bottom: 1px solid red;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  white-space: nowrap;
}

div.iGroupErrorWrapper {
  -webkit-animation: animateIGroupError 2s 0.5s;
          animation: animateIGroupError 2s 0.5s;
  overflow: hidden;
}

@-webkit-keyframes animateIGroupError {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes animateIGroupError {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.errorText {
  color: rgba(255, 0, 0, 0.822);
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn {
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .btn {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  color: #00b4a8;
  text-decoration: underline;
  font-weight: 600;
}

.nodisplay {
  display: hidden;
}

.btnPrimary {
  background: rgb(19, 114, 138);
}

.btn.btnSecondary {
  background: white;
  border: 1px solid rgb(0, 172, 172);
  color: rgb(0, 172, 172);
}

.select {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px;
}
@media screen and (max-width: 400px) {
  .select {
    font-size: 14px;
  }
}

p.subText {
  font-size: 14px;
}

input[type=text] {
  border: 1px solid rgb(19, 114, 138);
}

* {
  box-sizing: border-box;
}

body {
  background: rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  justify-content: center;
}

.main {
  font-family: "Roboto", sans-serif;
}
.main h2.welcome {
  text-align: center;
  font-weight: normal;
  font-size: 40px;
}

#createFirstDiary {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.3);
  font-family: "Roboto", sans-serif;
  padding: 20px;
  border-radius: 15px;
}
#createFirstDiary form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#createFirstDiary h2 {
  text-align: center;
  font-weight: normal;
}
#createFirstDiary h2:nth-child(1) {
  font-weight: bold;
}
#createFirstDiary .name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
#createFirstDiary .name input, #createFirstDiary .name p {
  font-size: 18px;
  margin: 5px;
  color: black;
}
#createFirstDiary .name input {
  outline: none;
  padding: 1px 5px;
  border-radius: 5px;
  padding: 5px;
}
#createFirstDiary p.subText {
  color: rgba(0, 0, 0, 0.6);
}
#createFirstDiary button {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 18px;
  background: #fff;
  border-radius: 5px;
  background: rgb(19, 114, 138);
  color: white;
}
