@import url(https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:wght@400;900&display=swap);
.btn {
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .btn {
    font-size: 16px;
  }
}

a {
  text-decoration: none;
  color: #00b4a8;
  text-decoration: underline;
  font-weight: 600;
}

.nodisplay {
  display: hidden;
}

.btnPrimary {
  background: rgb(19, 114, 138);
}

.btn.btnSecondary {
  background: white;
  border: 1px solid rgb(0, 172, 172);
  color: rgb(0, 172, 172);
}

.select {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px;
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#darkOverlay {
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.3);
  z-index: 1;
  position: relative;
  top: -100vh;
  left: 0;
}

.main {
  height: 100vh;
}

#appBody {
  display: flex;
}

#sideBar {
  background: white;
  height: 90vh;
  width: 200px;
}
@media screen and (max-width: 900px) {
  #sideBar {
    width: 150px;
  }
}
@media screen and (max-width: 500px) {
  #sideBar {
    position: absolute;
    left: -150px;
  }
}
#sideBar ul {
  list-style-type: none;
  padding: 0;
}
#sideBar .btnDate {
  width: 100%;
  font-size: 18px;
  padding: 10px 0;
  background: white;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0;
}
#sideBar .btnDate.selected {
  background: #518c9b;
  color: white;
}

#diaryContent {
  background: #E5E5E5;
  height: 90vh;
  padding: 50px;
  width: calc(100% - 200px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 900px) {
  #diaryContent {
    width: calc(100% - 150px);
    padding: 20px;
  }
}
@media screen and (max-width: 500px) {
  #diaryContent {
    width: 100%;
  }
}
#diaryContent #diaryNamesBar {
  max-width: 100%;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#diaryContent #diaryNamesBar select.diaryNames {
  display: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
@media screen and (max-width: 500px) {
  #diaryContent #diaryNamesBar select.diaryNames {
    display: block;
  }
}
#diaryContent #diaryNamesBar select#selectedDateInput {
  display: none;
}
@media screen and (max-width: 500px) {
  #diaryContent #diaryNamesBar select#selectedDateInput {
    display: block;
  }
}
#diaryContent #diaryNamesBar div.diaryNames {
  background: rgb(206, 206, 206);
  border-radius: 10px;
  padding: 5px;
  padding-bottom: 0;
}
@media screen and (max-width: 500px) {
  #diaryContent #diaryNamesBar div.diaryNames {
    display: none;
  }
}
#diaryContent #diaryNamesBar .btnDiary {
  margin: 10px;
  padding: 10px 15px;
  background: white;
  border: 2px solid white;
  border-radius: 15px;
  color: black;
}
#diaryContent #diaryNamesBar .btnDiary:hover {
  border: 2px solid rgb(0, 172, 172);
  position: relative;
}
#diaryContent #diaryNamesBar .btnDiary.empty {
  background: #dfdfdf;
  border: 2px solid #dfdfdf;
}
#diaryContent #diaryNamesBar .btnDiary.selected {
  border-bottom: 2px solid rgb(0, 172, 172);
}
#diaryContent #diaryNamesBar i {
  display: none;
  padding: 5px;
  cursor: pointer;
}
#diaryContent .btnCreateDiary {
  background: white;
  border-radius: 15px;
  padding: 10px 15px;
  margin: 10px;
  color: rgb(0, 172, 172);
  white-space: nowrap;
}
#diaryContent .btnCreateDiary:hover {
  border: 2px solid rgb(0, 172, 172);
  position: relative;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 11px;
  right: 2px;
}
#diaryContent .diaryDataHeader, #diaryContent .diaryDataWrapper {
  width: clamp(200px, 100%, 1200px);
}
#diaryContent .diaryDataHeader {
  background: #D9D9D9;
  padding: 20px;
  margin-top: 20px;
  border-radius: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#diaryContent .diaryDataWrapper {
  margin: 10px;
  margin-top: 0;
  background: white;
  padding: 40px;
  height: calc(80vh - 45px);
  border-radius: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  position: relative;
  border-top: 2px solid rgb(0, 172, 172);
}
#diaryContent .diaryDataWrapper p.diaryData {
  padding: 5px;
  height: 90%;
}
@media screen and (max-width: 600px) {
  #diaryContent .diaryDataWrapper p.diaryData {
    font-size: 14px;
  }
}
#diaryContent .diaryDataWrapper .buttons {
  position: absolute;
  bottom: 10px;
  left: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
#diaryContent .diaryDataWrapper .buttons .btn {
  border-radius: 5px;
  background: rgb(31, 171, 205);
}
#diaryContent .diaryDataWrapper .buttons .btnEdit {
  margin: 10px;
}
#topBar {
  background: rgb(19, 114, 138);
  height: 10vh;
  position: relative;
  filter: drop-shadow(0px 0px 10px black);
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 10px;
}
#topBar h1#brand-logo {
  font-weight: bold;
  color: white;
}
@media screen and (max-width: 600px) {
  #topBar h1#brand-logo {
    font-size: 25px;
  }
}
#topBar .buttons {
  margin-left: 100px;
}
@media screen and (max-width: 600px) {
  #topBar .buttons {
    margin-left: 20px;
  }
}
@media screen and (max-width: 400px) {
  #topBar .buttons {
    margin-left: 5px;
  }
}
#topBar .buttons .btn {
  background: none;
}
#topBar .buttons .btn:hover {
  color: white;
  transition: color 0.3s;
}

.btn.btnWrite {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: rgb(19, 114, 138);
  border-radius: 50%;
  padding: 30px 20px;
  z-index: 1;
}

.btnWriteInline {
  background: #1abc9c;
  color: white;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 0.5));
  transition: all 0.3s;
}
.btnWriteInline:hover {
  position: relative;
  top: -1px;
  left: -1px;
}

.diaryDataSkeletons {
  display: none;
}
.diaryDataSkeletons .diaryDataSkeleton {
  background: #c7c7c7;
  width: 100%;
  height: 20px;
  margin-top: 10px;
}
