@import url(https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:wght@400;900&display=swap);
.animDance {
  -webkit-animation: dance 0.3s;
          animation: dance 0.3s;
}

@-webkit-keyframes dance {
  0% {
    left: 0;
  }
  25% {
    left: -30px;
  }
  75% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}

@keyframes dance {
  0% {
    left: 0;
  }
  25% {
    left: -30px;
  }
  75% {
    left: 30px;
  }
  100% {
    left: 0;
  }
}
.error {
  border: 1px solid red;
  border-radius: 5px;
  background: rgba(255, 92, 92, 0.1);
  padding: 5px;
  position: relative;
  margin-bottom: 20px;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  margin: 5px 0;
}

p.iGroupError {
  margin: 5px 0;
  color: rgb(177, 0, 0);
  border-bottom: 1px solid red;
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  white-space: nowrap;
}

div.iGroupErrorWrapper {
  -webkit-animation: animateIGroupError 2s 0.5s;
          animation: animateIGroupError 2s 0.5s;
  overflow: hidden;
}

@-webkit-keyframes animateIGroupError {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

@keyframes animateIGroupError {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
.errorText {
  color: rgba(255, 0, 0, 0.822);
  -webkit-animation: fadeIn 1s;
          animation: fadeIn 1s;
}

@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.btn {
  outline: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
  padding: 5px 10px;
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .btn {
    font-size: 16px;
  }
}
@media screen and (max-width: 400px) {
  .btn {
    font-size: 15px;
  }
}

a {
  text-decoration: none;
  color: #00b4a8;
  text-decoration: underline;
  font-weight: 600;
}

.nodisplay {
  display: hidden;
}

.btnPrimary {
  background: rgb(19, 114, 138);
}

.btn.btnSecondary {
  background: white;
  border: 1px solid rgb(0, 172, 172);
  color: rgb(0, 172, 172);
}

.select {
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.4);
  padding: 5px;
}
@media screen and (max-width: 400px) {
  .select {
    font-size: 14px;
  }
}

* {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.cont {
  width: 100vw;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img {
  width: 200px;
  margin: 20px 0;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
form .error {
  width: 100%;
}
form fieldset {
  background: white;
  border-radius: 10px;
  border: 1px solid rgba(0, 0, 0, 0.2);
  padding: 40px 30px;
}
form h2 {
  margin: 30px 0;
  font-size: 22px;
  font-weight: normal;
}
form label, form p, form input {
  color: rgba(0, 0, 0, 0.8);
}
form input {
  border: 1px solid rgba(0, 0, 0, 0.2);
  outline: none;
  margin: 5px 0;
  border-radius: 3px;
  font-size: 16px;
  padding: 5px;
}
form input:focus {
  border: 1px solid rgb(0, 172, 172);
  outline: none;
}
form input:-webkit-autofill,
form input:-webkit-autofill:focus {
  -webkit-transition: background-color 600000s 0s, color 600000s 0s;
  transition: background-color 600000s 0s, color 600000s 0s;
}
form input[data-autocompleted] {
  background-color: transparent !important;
}
form button, form input[type=submit] {
  display: block;
  background: rgb(19, 114, 138);
  padding: 5px 20px;
  border-radius: 5px;
  width: 100%;
  margin-bottom: 10px;
}

.formGroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}
