
.btn{
    outline:none;
    border:none;
    font-size:18px;
    cursor:pointer;
    padding: 5px 10px;
    border-radius: 5px;

    @media screen and (max-width:600px) {
        font-size:16px;
    }

    @media screen and (max-width:400px) {
        font-size:15px;
    }

}


a{
    text-decoration:none;
    color:$anchor-color;
    text-decoration: underline;
    font-weight: 600;
}

.nodisplay{
    display:hidden;
}

.btnPrimary{
    background:$primary-color;
}

.btn.btnSecondary{
    
    background:white;
    border:1px solid $secondary-color;
    color:$secondary-color;
}

select{
    font-size:18px;
    border-radius: 5px;
    border:1px solid $primary-color;
    padding:5px;

    @media screen and (max-width:400px){
        font-size:14px;
    }
}


p.subText{
    font-size:14px;
}

input[type='text']{
    border:1px solid $primary-color;
}

input[type='date']{
    border-radius: 5px;
    padding:5px;
}

input[type='date']::-webkit-calendar-picker-indicator{
    //To make sure that the icon is close enough to text
    margin-left:-20px;
}


textarea{
    border:1px solid $primary-color;
}