
@import "fonts";
@import "mixins";
@import "colors";
@import "error";
@import "components";



*{
    box-sizing: border-box;
}

body{
    background: rgba(0,0,0,0.03);
    display: flex;
    flex-direction: column;
    align-items:center;
    min-height:100vh;
    justify-content:center;
}

.main{
    font-family:"Roboto",sans-serif;
    


    h2.welcome{
        text-align:center;
        // margin-top:30vh;
        // position:absolute;
        // top:30%;
        // left:50%;
        // transform:translate(-50%,-50%);
        font-weight:normal;
        font-size:40px;
    }
}
#createFirstDiary{
    // position:absolute;
    // top:50vh;
    // left:50vw;
    // transform: translate(-50%,-50%);
    width:fit-content;

    // background:rgb(141, 238, 255);
    // background:rgba(0,0,0,0.05);
    background-color: white;
    border:1px solid rgba(0,0,0,0.3);
    font-family:"Roboto",sans-serif;

    padding:20px;
    border-radius: 15px;
    
    form{
        @include flexCenter(column);
        
    }

    h2{
        text-align:center;
        font-weight: normal;
    }

    h2:nth-child(1){
        font-weight: bold;
    }

    .name{
        @include flexCenter(row);

        input,p{
            font-size:18px;
            margin:5px;
            color:black;
        }

        input{
            outline:none;
            padding:1px 5px;
            border-radius:5px;
            padding:5px;
        }
    }

    p.subText{
        color:rgba(0,0,0,0.6);
    }

    button{
        border:none;
        outline:none;
        padding:5px;
        font-size:18px;
        background:#fff;
        border-radius: 5px;
        background:$primary-color;
        color:white;
    }
}