@import "colors";
.errorPopupContainer{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;

    .errorPopup{
        width: 500px;
        height: auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
        position: relative;
        z-index: 9999;
        // .errorPopup__title{
        //     font-size: 20px;
        //     font-weight: 600;
        //     margin-bottom: 20px;
        // }
        // .errorPopup__text{
        //     font-size: 16px;
        //     margin-bottom: 20px;
        // }
        .btn{
            position: absolute;
            bottom: 20px;
            right: 20px;
            background-color: #fff;
            color:$secondary-color;
            border: 1px solid $secondary-color;

            &:hover{
                background-color: $secondary-color;
                color:white;
            }
        }
    }
}