@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:wght@400;900&display=swap');
@import "colors.scss";
@import "components.scss";
@import "mixins";

*{
    margin:0;
    font-family:"Roboto",sans-serif;
    box-sizing:border-box;
}



#darkOverlay{
    height:100vh;
    width:100vw;
    background:rgba(0,0,0,0.3);
    z-index:1;
    position:relative;
    top:-100vh;
    left:0;
}


.main{
    height:100vh;
}
#appBody{
    display: flex;
}

#sideBar{
    background: white;
    height:90vh;
    width:200px;

    ul{
        list-style-type: none;
        padding:0;
    }

    .btnDate{
        width:100%;
        font-size:18px;
        padding:10px 0;
        background:white;
        border-bottom:1px solid rgba(0,0,0,0.2);
        border-radius: 0;;


        &.selected{
            background: rgba(0, 238, 255, 0.2);
            color:#0097bd
        }
    }

}

#diaryContent{
    background:$body-color;
    height:90vh;
    padding:50px;
    width:calc(100% - 200px);
    @include flexCenter(column);

    // display: flex;
    // flex-direction: column;
    #diaryNamesBar{
        white-space: nowrap;
        max-width:100%;
        overflow-y:visible;
        display:flex;
        align-items: center;

        select.diaryNames{
            display: none;
            height:fit-content;

            font-size:18px;
            border-radius: 10px;
            border:1px solid rgba(0,0,0,0.4);
            padding:5px;
        }

        div.diaryNames{
            background:rgb(206, 206, 206);
            border-radius:10px;
            padding:5px;
            padding-bottom:0;
        }

        .btnDiary{
            font-size:18px;
            margin:10px;
            // margin-bottom: 0;
            padding:10px 15px;
            background:white;;
            // border:2px solid $secondary-color;
            border:none;
            border-radius: 15px;
            cursor:pointer;
            color:black;
            // height:45px;
        
        &:hover{
            border:2px solid $secondary-color;
            position:relative;
            right:2px;
            padding-top:8px;
            padding-bottom: 8px;
            padding-right:11px;
            

        }
        .btnDiary.empty{
            background:#999999;
        }
        
    
        }
        // .btnDiary.selected{
        //     position: relative;
        //     bottom:-10px;
        //     border-bottom:2px solid $secondary-color;
        //     padding-bottom:8px;
        // }
    
        i{
            display:none;
            padding:5px;
            cursor: pointer;
        }

    }
    
    .btnCreateDiary{
        // position: absolute;
        background:white;    
        border-radius:15px;
        padding:10px 15px;
        margin:10px;
        color:$secondary-color;

        &:hover{
            border:2px solid $secondary-color;
            position:relative;
            padding-top:8px;
            padding-bottom: 8px;
            padding-right:11px;
            right:2px;

        }

    }
    .diaryDataHeader,.diaryDataWrapper{
        width:clamp(300px , 100%, 1200px);
    }

    .diaryDataHeader{
        background:#D9D9D9;
        padding:40px;
        margin-top:20px;
    }

    .diaryDataWrapper{
        margin:10px;
        margin-top:0;
        background:white;
        padding :40px;
        // height:80vh;
        // height: 100%;
        height:calc(80vh - 45px);
        border-radius:10px;
        position:relative;
        border-top:2px solid $secondary-color;


        p.diaryData{
            padding:5px;
            height:90%;
            // background:yellow;
        }

        .buttons{
            position:absolute;
            bottom:10px;
            left:10px;
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin-bottom:10px;

            // .btn{
            //     background:#333;
            //     color:white;
            //     margin:10px;
            //     border-radius: 4px;;
            //     padding:5px;
            // }

            .btnEdit{
                background:#e67e22;
                color:white;
                margin:10px;
                border-radius: 10px;
            }
            .btnDel{
                background:#ff3f34;
                color:white;
                border-radius: 10px;

            }

        }
    }
    
}

#topBar{
    background:$primary-color;
    // background:blue
    height:10vh;

    position:relative;
    filter:drop-shadow(0px 0px 10px black);
    display:flex;
    align-items: center;
    justify-content: space-between;
    padding:0 10px;

    h1#brand-logo{
        font-weight: bold;
        color:white;
        -webkit-text-stroke: 1px rgba(0,0,0,0.3);
        // position:relative;
        // top:50%;
        // transform: translateY(-50%);
    }

    button#btnWriteEntry{
        position:absolute;
        top:50%;
        right:2vw;
        transform: translateY(-50%);
        font-size:20px;
        text-decoration: none;
        color:black;
        background:white;
        border-radius: 14px;
        padding:10px;
        cursor:pointer;

        border:1px solid white;
    }
}

.btn.btnWrite{
    position: absolute;
    bottom:20px;
    right:20px;
    background-color: $primary-color;
    // color:white;
    border-radius: 50%;
    padding:30px 20px;
    z-index:1;
}




.btnWriteInline{
    background:#1abc9c;
    color:white;
    filter:drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
    transition: all 0.3s;


    &:hover{
        position: relative;
        top:-1px;
        left:-1px;

    }
}
.diaryDataSkeletons{
    display:none;
    .diaryDataSkeleton{
        background:#c7c7c7;
        width:100%;
        height:20px;
        margin-top:10px
    }
}