@import url('https://fonts.googleapis.com/css2?family=Akshar&family=Roboto:wght@400;900&display=swap');
@import "colors.scss";
@import "components.scss";
@import "mixins";

*{
    margin:0;
    font-family:"Roboto",sans-serif;
    box-sizing:border-box;
}



#darkOverlay{
    height:100vh;
    width:100vw;
    background:rgba(0,0,0,0.3);
    z-index:1;
    position:relative;
    top:-100vh;
    left:0;
}


.main{
    height:100vh;
}
#appBody{
    display: flex;
}





$sidebarWidthL:200px;
$sidebarWidthM:150px;

#sideBar{
    background: white;
    // height:90vh;
    height:calc(100vh - 70px);
    width:$sidebarWidthL;
    overflow-y:scroll;

    padding:5px;
    padding-top:20px;

    @media screen  and(max-width:900px){
        width:$sidebarWidthM
    }

    @media screen and(max-width:500px){
        position:absolute;
        left:-$sidebarWidthM;   
    }

    ul{
        list-style-type: none;
        padding:0;
    }

    .btnDate{
        width:100%;
        font-size:18px;
        padding:10px 0;
        background:white;
        border-bottom:1px solid rgba(0,0,0,0.2);
        border-radius: 0;;


        &.selected{
            // background: rgb(233, 233, 233);
            // background:#0097bd;
            background: #dff7ff;
            // color:white;
            // border-left:6px solid #00cbff;
            border-radius:10px;
            position: relative;
            // color:black;

            &::after{
                content:"";
                display:block;
                position: absolute;
                width:4px;
                height:25px;
                background:#00cbff;
                top:50%;
                transform: translateY(-50%);
                left:0;
            }
        }
    }

}



#diaryContent{
    background:$body-color;
    height:calc(100vh - 70px);
    padding:50px;
    width:calc(100% - $sidebarWidthL);

    @media  screen and (max-width:900px) {
        width:calc(100% - $sidebarWidthM);
        padding:20px;
    }

    @media  screen and (max-width:500px) {
        width:100%;
    }
    @include flexCenter(column);

    // display: flex;
    // flex-direction: column;
    #diaryNamesBar{
        max-width:100%;
        display:flex;
        align-items: center;
        flex-wrap:wrap;


        select.diaryNames{
            display: none;
            height:fit-content;

            

            @media screen and(max-width:500px) {
                display: block;
            }

        }

        select#selectedDateInput{
            display: none;
            @media screen and(max-width:500px) {
                display: block;
            }
        }

        div.diaryNames{
            background:rgb(206, 206, 206);
            border-radius:10px;
            padding:5px;
            padding-bottom:0;
            display:flex;
            flex-wrap:nowrap;

            @media screen and (max-width:500px) {
                display: none;
            }
        }

        .btnDiary{
            margin:10px;
            // margin-bottom: 0;
            padding:10px 15px;
            background:white;;
            // border:2px solid $secondary-color;
            border:2px solid white;
            border-radius: 15px;
            color:black;
            // height:45px;
        
            &:hover{
                border:2px solid $secondary-color;
                position:relative;
                
            }
        }

        .btnDiary.empty{
            background:#dfdfdf;
            border:2px solid #dfdfdf;
        }
        .btnDiary.selected{
            border-bottom:2px solid $secondary-color;
            // background:#333;
        }
        // .btnDiary.selected::after{
        //     content:"";
        //     display: block;
        //     position: relative;
        //     height:3px;
        //     width:150%;
        //     background:$secondary-color;
        //     bottom:-18px;
        // }
    
        i{
            display:none;
            padding:5px;
            cursor: pointer;
        }

    }
    
    .btnCreateDiary{
        // position: absolute;
        background:white;    
        border-radius:15px;
        padding:10px 15px;
        margin:10px;
        color:$secondary-color;
        white-space: nowrap;

        @media screen and (max-width:600px) {
            padding: 5px 10px;
        }

        &:hover{
            border:2px solid $secondary-color;
            position:relative;
            padding-top:8px;
            padding-bottom: 8px;
            padding-right:11px;
            right:2px;

        }




    }

    .diaryDataHeader,.diaryDataWrapper{
        width:clamp(200px , 100%, 1200px);
    }

    .diaryDataHeader{
        background:#D9D9D9;
        padding:20px;
        margin-top:20px;

        border-radius: 0;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        display:flex;
        align-items: center;
        justify-content: space-between;
    }

    .diaryDataWrapper{
        margin:10px;
        margin-top:0;
        background:white;
        padding :40px;
        // height:80vh;
        // height: 100%;
        height:calc(80vh - 45px);

        border-radius:10px;
        border-top-left-radius: 0;
        border-top-right-radius: 0;

        position:relative;
        border-top:2px solid $secondary-color;


        p.diaryData{
            padding:5px;
            height:90%;
            // background:yellow;

            @media screen  and(max-width:600px){
                font-size:14px;
            }
        }

        .buttons{
            position:absolute;
            bottom:10px;
            left:10px;
            display:flex;
            justify-content:space-between;
            align-items:center;
            margin-bottom:10px;

            .btn{
                border-radius: 5px;
                // border:1px solid $secondary-color;
                // background: rgb(157, 240, 119);
                background:rgb(31 171 205)
            }
            .btnEdit{
                // background:#e67e22;
                // color:white;
                margin:10px;

            }
            .btnDel{
                // background:#ff3f34;
                // color:white;

            }

        }
    }
    
}

#topBar{
    background:$primary-color;
    // height:clamp(1px,10vh,70px);

    position:relative;
    filter:drop-shadow(0px 0px 10px black);
    display:flex;
    align-items: center;
    justify-content:flex-start;
    // padding:10px 10px;
    height:70px;
    padding:0  10px;


    h1#brand-logo{
        font-weight: bold;
        color:white;
        @media screen and(max-width:600px){
            font-size: 25px;;
        }

        @media screen and(max-width:400px){
            font-size:20px;
        }
    }

    // button#btnWriteEntry{
    //     position:absolute;
    //     top:50%;
    //     right:2vw;
    //     transform: translateY(-50%);
    //     font-size:20px;
    //     text-decoration: none;
    //     color:black;
    //     background:white;
    //     border-radius: 14px;
    //     padding:10px;
    //     cursor:pointer;
    //     margin:10px;

    //     border:1px solid white;
    // }

    .buttons{
        margin-left:100px;
        @media screen  and (max-width:600px){
            margin-left:20px;
        }
        @media screen  and (max-width:400px){
            margin-left:5px;
        }
        .btn{
            background:none;
            color:rgb(163 195 203);

            &:hover{
                color:white;
                transition: color 0.3s;
            }

        }
    
    }

}

.btn.btnWrite{
    position: absolute;
    bottom:20px;
    right:20px;
    background-color: rgb(0 204 255);
    // color:white;
    border-radius: 50%;
    padding:30px 20px;
    z-index:1;
}




.btnWriteInline{
    background:#1abc9c;
    color:white;
    filter:drop-shadow(1px 1px 1px rgba(0,0,0,0.5));
    transition: all 0.3s;


    &:hover{
        position: relative;
        top:-1px;
        left:-1px;

    }
}
.diaryDataSkeletons{
    display:none;
    .diaryDataSkeleton{
        background:#c7c7c7;
        width:100%;
        height:20px;
        margin-top:10px
    }
}